MainApp {
    background: $background;
    height: 5;
    margin: 1;
    min-width: 100;
    padding: 1;
}

# Top bar, with the music controls, and the playing media label
#top_bar {
    height: 15;
    width: 100%;
    background: $surface;
    content-align-horizontal: center;
    border: solid;
    margin: 0 1;
}

# Music controls
#playbar {
    height: 5;
    width: 100%;
    content-align-horizontal: center;
}

# The labels for the media currently playing
#media_metadata {
    width: 20;
    height: 10;
}

#media_label_container {
    width: 60%;
    height: 6;
}

#media_image {
    width: 36;
    height: 100%;
    dock: right;
}

#bottom {
    width: 100%;
    height: 1fr;
}

#played {
    dock: right;
}

#queue {
    dock: left;
}

.bottom_panel {
    width: 50%;
    height: 100%;
    padding: 0 1;
    margin: 1;
    border: solid;
    background: $surface;
}

.bottom_top_label {
    content-align: center top;
}

.meta_card {
    height: 7;
    width: 100%;
    margin: 0 1;
    border: dashed $accent;
}

.meta_card_image {
    dock: right;
    height: 5;
    width: 10;
}

QuitScreen, LoadSessionScreen {
    align: center middle;
}

#quit_dialog {
    grid-size: 3;
    grid-gutter: 1 3;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 100;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#load_dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#question {
    column-span: 3;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

.button_fill {
    width: 100%;
}
