# Stopwatch {
#     background: $boost;
#     height: 5;
#     margin: 1; 
#     min-width: 50;
#     padding: 1;
# }

# TimeDisplay { 
#     text-align: center;
#     color: $foreground-muted;
#     height: 3;
# }

# Button {
#     width: 16;
# }

# #start { 
#     dock: left
# }

# #stop {
#     dock: left;
#     display: none;
# }

# #reset { 
#     dock: right;
# }

# .started { 
#     background: $success-muted;
#     color: $text;
# }

# .started #start { 
#     display: none;
# }

# .started #stop {
#     display: block;
# }

# .started #reset { 
#     visibility: hidden;
# }

MainApp {
    background: $background;
    height: 5;
    margin: 1; 
    min-width: 100;
    padding: 1;
}

#playbar {
    height: 10;
    width: 100%;
    background: $boost;
    content-align-horizontal: center;
    border: solid;
    # dock: top;
}

#main_title {
    width: 2;
}

.left, .center, .right {
    width: 1fr;
}

.left {
    align-horizontal: left;
}

.center {
    align-horizontal: center;
}

.right {
    align-horizontal: right;
}