cffi==2.0.0
crossfiledialog==1.1.0
deprecation==2.1.0
filetype==1.2.0
just_playback==0.1.8
linkify-it-py==2.0.3
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
packaging==26.0
pillow==12.1.1
platformdirs==4.9.2
pycparser==3.0
Pygments==2.19.2
rich==14.3.3
rich-pixels==3.0.1
textual==8.0.0
textual-image==0.8.5
tinytag==2.2.0
typing_extensions==4.15.0
uc-micro-py==1.0.3
